.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 200px;
}

.cards {
  display: flex;
  background-color: var(--white);
  padding: 20px;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
}

.cardContainer {
  background-color: rgb(246, 245, 245);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  min-width: 200px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardContainer:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cardContainer img {
  max-width: 80%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.iconButton {
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px 25px;
  background-color: var(--white);
  cursor: pointer;
  border: none;
  font-size: 1em;
  gap: 5px;
}

.icon {
  font-size: 1.2em;
}
.iconRed {
  font-size: 1.2em;
  color: red;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.buttonText {
  white-space: nowrap;
}

.cardTitle {
  color: var(--blue);
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.cardModel {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 3px;
  text-align: center;
}

.cardArea {
  font-size: 0.8em;
  color: #777;
  text-align: center;
}

.cardContainer p {
  font-size: 0.85em;
  margin-top: 5px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.formContainer {
  background-color: var(--white);
  padding: 20px 30px;
  border-radius: 32px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.formContainer h2 {
  margin-top: 0;
  text-align: center;
  color: var(--blue);
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formContainer input {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.formContainer button[type="submit"] {
  background-color: var(--blue);
  color: white;
}

/* .formContainer button[type="button"] {
  background-color: #ccc;
} */

.sideContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 2rem;
}

.infoContainer {
  margin-top: 0.2rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
}

.infoContainerRow {
  margin-top: 0.2rem;
  padding: 0.5rem 0.5rem;
  width: 135px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
}

.cardsRow {
  display: flex;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  padding: none;
  background: transparent;
}

.dataContainer {
  padding: 1rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.testContainer {
  padding-top: 1rem;
}

.testContainerRow{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-top: .5rem;
}

.testButtonsRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testButtonsRoww {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}



/* Estrutura base do status */
.statusBase {
  border: 1px solid #000;
  padding: .3rem .5rem;
  border-radius: 8px;
  font-weight: bold;
  text-transform: capitalize; /* Opcional: deixa a primeira letra maiúscula */
}

/* Status Offline (Vermelho) */
.statusOffline {
  color: red;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.05);
}

/* Status Online (Verde) */
.statusOnline {
  color: green;
  border-color: green;
  background-color: rgba(0, 128, 0, 0.05);
}

.reloadButton {
  background-color: var(--primary-color);
  color: var(--white);
}

.catraca {
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.dropContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1rem;
}

.selectInput {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 0.95rem;
  color: #333;
  width: 100%;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.selectInput:hover {
  border-color: var(--primary-color);
  background-color: #fff;
}


.selectInput {
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23333' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
}