.container{
    max-width: 1500px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
}

.min-height{
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.collumn {
    flex-direction: column;
}