.footer{
    background-color: #000;
    color: #fff;
    padding: 1.5em;
    text-align: center;
    margin-top: auto;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
    transition: .5s;
}


.social_list li:hover{
    color: #ffbb33
}

.social_list li svg{
    font-size: 1.2em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}